/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

/* Contenedor general del calendario */
.calendar-container {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado del calendario */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.month-header {
    font-size: 1.5em;
    text-align: center;
    flex-grow: 1;
}

/* Botones de navegación */
.nav-button {
    background-color: #25a18e;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #1d907a;
}

/* Estilos para la vista mensual */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.day-name, .day, .empty-day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.weekend {
    color: red;
}

.today {
    background-color: #25a18e;
    color: white;
}

/* Estilos para la vista semanal */
.week-view {
    height: 50%;
    width: 100%;
    border-collapse: collapse;
}

.week-view th, .week-view td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.week-view th {
    background-color: #25a18e;
    color: white;
}

.week-view td {
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.week-view td:hover {
    background-color: #d1e7dd;
}

.time-slot {
    font-size: 14px;
    color: #666;
}

/* Estilos del pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="time"], input[type="date"], select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* Estilo de los botones */
button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #008CAB;
    color: white;
    cursor: pointer;
    width: 48%;
}

.botones {
    display: flex;
    justify-content: space-between;
}

#cancelarBtn {
    background-color: #FF0000;
    color: white;
}

#cancelarBtn:hover {
    background-color: #FF0000;
}

#confirmarBtn {
    background-color: #006A60;
    color: white;
}

#confirmarBtn:hover {
    background-color: #006A60;
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 700px;
    position: relative;
    z-index: 2;
}
.popup-content h2 {
    text-align: center;
    margin: 20;
    font-size: 24px;
}

#fechaSeleccionada {
    display: none; /* Oculta el span */
}

/* Boton de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}
