body {
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}


.contenedor-calendario {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.5);
    padding: 22px;
    width: 900px;
}

/*Determina la distancia entre la parte superior y las casillas de dias*/
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/*botones de la izquierda*/
.encabezado button {
    background-color: rgb(25, 100, 79);
    border: 1.5px solid white;
    color: white;
    padding: 14px;
    cursor: pointer;
    border-radius: 5px;
}
/*Cambia el color de la casilla por la cual pasa el cursor, tambien el color de la letra*/
.encabezado button:hover {
    background-color: rgb(25, 100, 79);
    color: white;
}
/*Mes mostrado en el centro junto al año*/
.mes-año {
    font-size: 2em;
    text-align: center;
    flex-grow: 1;
    padding: 10px 20px;
    text-decoration: underline;
    text-underline-offset: 10.5px;
    text-decoration-thickness: 1.5px;
}

.calendario {
    width: 100%;
    border-collapse: collapse;
}

/*Celdas de los dias (nombres)*/
.calendario th {
    border: 1px solid gainsboro;
    padding: 25px;
    text-align: center;
}

/*Celdas de los dias (numeros)*/
.calendario td {
    border: 1px solid gainsboro;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/*Dia actual*/
.calendario td.dia-seleccionado {
    background-color: rgba(25, 100, 79, 0.4);
    color: white;
}
/*Color rojo para sabado y domingo*/
.fin-de-semana {
    color: red;
}

/*Son los botones de la derecha dia-sem-mes*/
.opciones-ver button {
    background-color: white;
    border: 1px solid gainsboro;
    color: black;
    padding: 14px 12px;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 0px;
}
/*es el boton seleccionado de la derecha (Mes)*/
.opciones-ver button.seleccionado {
    background-color: rgb(25, 100, 79);
    color: white;
}
/*Opaca los colores de días que no corresponden al mes actual*/
td.mes-anterior {
    opacity: 0.5;
    color: black;
}

td.mes-siguiente {
    opacity: 0.5;
    color: black;
}