{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
</head>

<body>

    <div class="calendar-container">
        <div class="calendar-header">
            <div class="button-container">
                <button id="prev" class="nav-button">&#10094;</button>
                <button id="today" class="nav-button">Hoy</button>
                <button id="next" class="nav-button">&#10095;</button>
            </div>
            <div class="month-header">
                <h2 id="month-year">Agosto 2024</h2>
            </div>
            <div class="view-options">
                <button id="week-view" class="nav-button">Sem</button>
                <button id="month-view" class="nav-button">Mes</button>
            </div>
        </div>
        <div id="calendar"></div>
    </div>

    <div id="popup_agendar" class="popup">
        <div class="popup-content">
            <span class="close" id="closePopup">&times;</span>
            <h2>Agendar Cita <span id="fechaSeleccionada"></span></h2>
            <form id="formCita" method="POST" action="{% url 'agendar_cita' %}" on submit = "return mostrarConfirmacion();">
                {% csrf_token %}
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required><br><br>

                <label for="paciente">Paciente:</label>
                <select id="paciente" name="paciente">
                    <option value="">Seleccione el paciente que citará</option>
                </select><br><br>
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" required><br><br>

                <label for="hora">Hora:</label>
                <input type="time" id="hora" name="hora" required><br><br>

                <label for="sala">Sala:</label>
                <input type="text" id="sala" name="sala" required><br><br>

                <label for="detalle">Detalle:</label>
                <input type="text" id="detalle" name="detalle" required><br><br>

                <div class="botones">
                    <button type="button" id="cancelarBtn">Cancelar</button>
                    <button type="submit" id="confirmarBtn">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="popup_confirmar" class="popup">
        <div class="popup-content">
            <h2>Confirmar Cita</h2>
            <p>¿Estás seguro de que deseas guardar esta cita?</p>
            <button id="confirmar" onclick="confirmar()">Confirmar</button>
            <button id="cancelar" onclick="cancelar()">Cancelar</button>
        </div>
    </div>

    <script src="{% static 'js/calendar.js' %}"></script>
</body>

</html>