{% extends 'base_terapeuta.html' %}

{% load static %}

{% block title %}Pacientes{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/paciente.css' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}
<div class="main-container">
    <div class="header">
        <h1 class="title">PACIENTES</h1>
        <div class="search-bar">
            <div class="input-container">
                <input type="text" id="searchInput" placeholder="Búsqueda por Nombre, Rut o Tratamiento"
                    onkeypress="checkEnter(event)">
                <button class="search-button" type="button" onclick="filterCards()">
                    <img src="{% static 'icons/Lupa.svg' %}" alt="Lupa" class="search-icon">
                </button>
            </div>
        </div>
    </div>

    <div class="li-container">
        <ul>
            <!-- Lista de pacientes -->
            <!-- Iterar sobre cada paciente -->
            {% if pacientes %}
            {% for paciente in pacientes %}
            <li class="paciente">
                <div class="paciente-info">
                    <p>{{ paciente.first_name }} {{ paciente.last_name }}</p>
                    <p>{{ paciente.rut }}</p>
                    <p>{{ paciente.edad }} años</p>
                    <p>{{ paciente.patologia }}</p>
                    <a href="#" class="report-button">
                        <img src="{% static 'icons/Tabla de reportes.svg' %}" alt="Tabla de reportes" class="report-icon">
                    </a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <div class="no-patients">
                <p>No hay pacientes ingresados.</p>
            </div>
            {% endif %}
        </ul>
    </div>

    <div id="error-message" class="hidden">
        No se encontraron coincidencias con la búsqueda ingresada.
        <button onclick="closeErrorMessage()">Cerrar</button>
    </div>

    <!-- Paginación -->
    {% if total_pacientes > 5 %}
    <div class="pagination">
        {% if pacientes.has_previous %}
            <a href="?page={{ pacientes.previous_page_number }}" class="prev-button">
                <img src="{% static 'icons/chevron-left-solid.svg' %}" alt="Back" class="previous-icon">
            </a>
        {% endif %}
        <span id="pageNumber">{{ pacientes.number }}</span>
        {% if pacientes.has_next %}
            <a href="?page={{ pacientes.next_page_number }}" class="next-button">
                <img src="{% static 'icons/chevron-right-solid.svg' %}" alt="Next" class="next-icon">
            </a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/paciente.js' %}"></script>
{% endblock %}