ortesisWeb/__pycache__/views.cpython-312.pyc
ortesisWeb/__pycache__/wsgi.cpython-312.pyc
ortesisWeb/__pycache__/urls.cpython-312.pyc
ortesisWeb/__pycache__/settings.cpython-312.pyc
ortesisWeb/__pycache__/__init__.cpython-312.pyc
ortesisWeb/settings.py

