body {
    background-color: #008CAB;
    font-family: Jost, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-contenedor {
    background-color: rgba(206, 206, 206, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-contenedor h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.input-group input[type="text"], 
.input-group input[type="password"] {
    background-color: #D8E9EE;
    padding-left: 40px;
}

.input-group img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}

.input-group label {
    color: white;
    font-size: 12px;
    text-align: left;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.actions label {
    color: white;
}

.actions a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.footer-icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.footer-icons img {
    width: 40px;
    height: 40px;
}

.logo-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}