.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 625px;
}

.tituloPopup{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 25px;
}

.mensajePopup{
    margin: 35px;
    font-size: 26px;
    margin-bottom: 25px;
}

button {
    margin: 8px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#confirmarBtn{
    width: 250px;
    background-color: #006A60;
    color: white;
    border-radius: 25px;
}

#cancelarBtn{
    width: 250px;
    background-color: #FF0000;
    color: white;
    border-radius: 25px;
}