/* Estilos generales */
body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor general del calendario */
.calendar-container {
    background-color: white;
    border-radius: 5px;
    padding-top: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 130px;
    
}
/* Encabezado del calendario */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.month-header {
    font-size: 1.5em;
    text-align: center;
    flex-grow: 1;
}

.view-options {
    display: flex;
    justify-content: center;
    width: 130px;
}
/* Botones de navegación */
.nav-button {
    background-color: #373D58;
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 2px;
}

.nav-button:hover {
    background-color: #399fb6;
}

/* Estilos para la vista mensual */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 55px);
    gap: 2px;
    margin-top: 20px;
}

.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.day:hover {
    background-color: #82b2bd; 
    border-color: #399fb6; 
}

.day-name, .day, .empty-day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.weekend {
    color: red;
}

.today {
    background-color: #373D58;
    color: white;
}

/* Ajustes generales para la vista semanal */

.week-view-container {
    height: 450px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    border: 1px solid #ddd; 
    border-radius: 5px;
}

.week-view {
    width: 100%;
    border-collapse: collapse;
}

.week-view th {
    background-color: #373D58;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ddd;
}

/* Separación de los días */
.week-view td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    height: 40px;
    transition: background-color 0.3s ease;
}

/* Efecto hover sobre las celdas de las horas */
.week-view td:hover {
    background-color: #82b2bd; 
    border-color: #399fb6;
}

/* Resalta la columna de las horas */
.week-view .time-slot {
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
    font-size: 10px;
    width: 80px;
}

/* Estilos del pop-up */
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100; 
    overflow-y: auto; 
}
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="time"], input[type="date"], select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}


/* Estilo de los botones */
button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #373D58;
    color: white;
    cursor: pointer;
    width: 48%;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#cancelarBtn {
    background-color: #FF0000;
    color: white;
}

#cancelarBtn:hover {
    background-color: #FF0000;
}

#confirmarBtn {
    background-color: #373D58;
    color: white;
}

#confirmarBtn:hover {
    background-color: #373D58;
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    z-index: 101;
}
.popup-content h2 {
    text-align: center;
    margin: 20px;
    font-size: 24px;
}

.campo {
    margin:10px;
}

#fechaSeleccionada {
    display: none; /* Oculta el span */
}

/* Boton de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

/* Vista semanal adicional */
.appointment {
    background-color: #ffcccc;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

/*calendar_asignar_paciente*/
.week-hour.working-hour {
    background-color: rgba(0, 128, 0, 0.2); /* Color de fondo para las horas de trabajo */
    border: 1px solid #008000; /* Borde para destacar más */
}

/*Calendar_asignar_paciente*/

.buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: #dc3545; /* Color del botón de cancelar */
}

.btn-continuar {
    background-color: #373D58   ; /* Color del botón de continuar */
}

.btn:hover {
    opacity: 0.9; /* Efecto de hover */
}

/* ---- Media Queries para hacer responsive ---- */

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Ajustar el tamaño del popup */
    .popup-content {
        width: 60%;
    }

    /* Botones más grandes en tabletas */
    button {
        font-size: 18px;
        width: 48%;
    }

    /* Ajustar el margen de los campos */
    .campo {
        margin: 15px;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    /* Ajustar el tamaño del popup */
    .popup-content {
        width: 90%;
    }

    /* Cambiar el diseño de los botones en una columna */
    .botones {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    button {
        width: 100%; /* Los botones ocupan el ancho completo */
        font-size: 16px;
        margin-bottom: 10px;
    }

    /* Ajustar los márgenes de los campos en pantallas pequeñas */
    .campo {
        margin: 10px 5px;
    }

    /* El título del popup será más pequeño */
    .popup-content h2 {
        font-size: 20px;
    }

    /* Ajustar el tamaño del botón de cerrar */
    .close {
        font-size: 20px;
    }
}