.container-paciente {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.back-arrow {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.card-paciente {
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.datos-paciente {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.columna {
    width: 48%;
}

.columna p {
    margin: 10px 0;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-card p {
    margin: 0;
}

.btn {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980B9;
}
