body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

/* Contenedor general del calendario */
.calendar-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.5);
    padding: 22px;
    width: 900px;
}

/* Encabezado del calendario */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.month-header {
    font-size: 1.5em;
    text-align: center;
    flex-grow: 1;
    padding: 10px 20px;
    text-decoration-thickness: 1.5px;
}
/* Botones de navegación */
.nav-button {
    background-color: rgb(25, 100, 79);
    border: 1.5px solid white;
    color: white;
    padding: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: rgb(25, 100, 79);
    color: white;
}

/* Vista del calendario en cuadrícula */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

/* Estilo para los nombres de los días */
.day-name {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* Colorear Sábado y Domingo en rojo */
.weekend {
    color: red;
}

/* Estilo para los días vacíos */
.empty-day {
    background-color: #f1efef;
}

/* Estilo para los días con número */
.day {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #d1e7dd;
}

/* Hacer que las celdas de los días sean cuadradas */
.day, .empty-day, .day-name {
    width: 100%;
    padding-bottom: 35%;
    position: relative;
    box-sizing: border-box;
    align-content: center;
    border: 1px solid #ccc; /* Líneas de la cuadrícula */
    
}

.day span, .empty-day span, .day-name span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

}

/* Indicar el día actual */
.today {
    background-color:rgb(25, 100, 79); /* Color de fondo para el día actual */
    color: white; /* Color de texto para el día actual */
    border-radius: 0%; /* Opcional: hacer el día actual circular */
}