/* Contenedor general del calendario */
.calendar-container {
    background-color: white;
    border-radius: 5px;
    padding-top: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 130px;
}

/* Encabezado del calendario */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-header {
    font-size: 1.5em;
    text-align: center;
    flex-grow: 1;
}

.view-options {
    display: flex;
    justify-content: center;
    width: 130px;
}

/* Botones de navegación */
.nav-button {
    background-color: #008CAB;
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 2px;
}

.nav-button:hover {
    background-color: #399fb6;
}

/* Estilos para la vista mensual */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 55px);
    gap: 2px;
    margin-top: 20px;
}

.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day:hover {
    background-color: #82b2bd;
    border-color: #399fb6;
}

.day-name, .day, .empty-day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.weekend {
    color: red;
}

.today {
    background-color: #008CAB;
    color: white;
}

/* Ajustes generales para la vista semanal */
.week-view-container {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.week-view {
    width: 100%;
    border-collapse: collapse;
}

.week-view th {
    background-color: #008CAB;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ddd;
}

/* Separación de los días */
.week-view td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    height: 40px;
    transition: background-color 0.3s ease;
}

.week-view td:hover {
    background-color: #82b2bd;
    border-color: #399fb6;
}

/* Resalta la columna de las horas */
.week-view .time-slot {
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
    font-size: 10px;
    width: 80px;
}

/* Estilos del pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow-y: auto;
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    z-index: 101;
    text-align: center;
}

/* Estilos del popup de citas */
.modal {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 101;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.modal-content {
    padding: 10px;
}

.popup-content h2, .modal-content h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.close, .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

/* Estilo de los items dentro del popup de citas */
.cita-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.cita-item p {
    margin: 5px 0;
}

/* Estilo de los botones */
button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #008CAB;
    color: white;
    cursor: pointer;
    width: 48%;
}

.botones {
    display: flex;
    justify-content: space-between;
}

#cancelarBtn {
    background-color: #FF0000;
}

#cancelarBtn:hover {
    background-color: #FF6666;
}

#confirmarBtn {
    background-color: #006A60;
}

#confirmarBtn:hover {
    background-color: #007f74;
}

/* Resaltar días y horas con citas */
.dia-con-cita {
    background-color: #FFD700;
    border: 2px solid #FFA500;
    font-weight: bold;
}

.celda-con-cita {
    background-color: #FFD700;
    border: 2px solid #FFA500;
    font-weight: bold;
}

/* Ajustes para la vista semanal con citas */
.appointment {
    background-color: #ffcccc;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.week-hour.working-hour {
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid #008000;
}
