/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del header */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px; /* Espacio entre el título y la barra de búsqueda */
    margin-bottom: 20px; /* Espacio debajo del header */
}

.header h1 {
    margin: 0;
    font-size: 40px;
    color: black;
}

.header h2 {
    margin: 0;
    font-size: 20px;
    color: black;
    margin-inline-end: 100px;
}

/* Estilos para el contenedor de la búsqueda */
.search-container {
    position: relative;
    width: 700px; /* Ajusta el tamaño según sea necesario */
}

/* Estilos para la barra de búsqueda */
.search-bar {
    padding: 8px;
    font-size: 16px;
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 4px;
    width: 700px;
}

.search-bar:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Icono de búsqueda */
.search-icon {
    position: absolute;
    right: 10px; /* Ajusta el espacio del icono */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente el icono */
    width: 20px; /* Ajusta el tamaño del icono */
    height: 20px;
}

/* Estilos para el contenedor de la lista */
.li-container {
    margin-bottom: 20px;
}

/* Estilos para el mensaje de vacío */
.empty {
    color: #666;
}
