body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.search-bar {
    justify-content:flex-start;
    margin-right: 350px;
}

.input-container {
    position: relative;
    display: inline-block;
}

.search-bar input {
    display: flex;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
}

.search-button {
    height: 30px;
    margin-top: 2px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.search-button:hover {
    background-color: #01a4c9;
}

/* Icono de búsqueda */
.search-icon {
    position: absolute;
    right: 10px; /* Ajusta el espacio del icono */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente el icono */
    width: 20px; /* Ajusta el tamaño del icono */
    height: 20px;
}

.field-titles {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 15px;
}

/* Estilos para el contenedor de la lista */
.li-container {
    margin-bottom: 20px;
}

.li-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 0;
}

/* Estilos para cada paciente */
.paciente {
    width: 1000px;
    display: flex;
    justify-content: space-between; /* Asegura que los datos se alineen de manera uniforme debajo de los h2 */
    border: 1px solid #ccc;
    padding: 20px;
    padding-left: 5px;
    margin-left: 0;
    margin-bottom: 7px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Usar flexbox para alinear los datos horizontalmente */
.paciente-info {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio de manera uniforme */
    padding-left: 10px;
}

/* Estilos para los elementos dentro de la información del paciente */
.paciente-info p {
    flex: 1; /* Hace que cada elemento ocupe el mismo espacio */
    margin: 0; /* Margen reducido entre los elementos */
    margin-top: 2px; /* Agregar un pequeño margen superior */
    font-size: 16px;
    min-width: 205px; /* Ancho mínimo para que los textos no se encimen */
}

.patient-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.patient-item {
    width: 20%;
}

.no-patients {
    margin-top: 150px;
    text-align: center;
    font-size: 1.5rem;
    color: #008CAB
}

.clipboard-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#error-message {
    background-color: rgb(250, 128, 128);
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative; /* Posiciona la paginación de manera relativa */
    top: -10px; /* Desplaza la paginación hacia arriba */
    margin: 0; /* Elimina el margen para evitar separación extra */
}

.prev-button, .next-button {
    display: inline-block;
    margin: 0 5px; /* Reduce el espacio entre los botones */
    cursor: pointer;
    font-size: 14px; /* Disminuye el tamaño de la fuente para los botones */
}

.previous-icon, .next-icon {
    width: 0.8em; /* Reduce el tamaño del ícono */
    height: auto; /* Mantiene la proporción del ícono */
    vertical-align: middle; /* Alinea el ícono verticalmente en el centro */
}