{% extends 'base_recepcionista.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/paciente.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <!-- Flecha de regreso -->
    <div class="back-arrow" onclick="window.location.href='{% url 'recepcionista_pacientes_activos' %}';">
        &#8592;
    </div>
    <h1>Agregar Paciente</h1>
    
    <form id="formularioPaciente" method="POST" action="{% url 'formulario_agregar_paciente' %}">
        {% csrf_token %}
        <div>
            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" name="nombres" placeholder="Ingrese los nombres del paciente" required>
        </div>

        <div>
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" placeholder="Ingrese los apellidos del paciente" required>
        </div>

        <div>
            <label for="rut">Rut</label>
            <input type="text" id="rut" name="rut" placeholder="Sin puntos y con guión. Ej: 12345678-9" required>
        </div>

        <div>
            <label for="telefono">Número de Teléfono</label>
            <input type="text" id="telefono" name="telefono" placeholder="Ej: 912345678">
        </div>

        <div>
            <label for="correo">Correo Electrónico</label>
            <input type="email" id="correo" name="correo" placeholder="Ej: correo@example.cl">
        </div>

        <div>
            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
        </div>

        <div>
            <label for="sexo">Sexo</label>
            <select id="sexo" name="sexo" required>
                <option value="">Seleccionar Sexo</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>

        <div>
            <label for="patologia">Patología</label>
            <input type="text" id="patologia" name="patologia" placeholder="Ingrese la patología del paciente">
        </div>

        <div>
            <label for="descripcion">Descripción de la Patología</label>
            <textarea id="descripcion" name="historial_medico" rows="5" placeholder="Ingrese una descripción de la patología (máximo 1000 caracteres)"></textarea>
        </div>

        <div>
            <label for="medicamentos">Medicamentos</label>
            <input type="text" id="medicamentos" name="medicamentos" placeholder="Ingrese medicamentos">
        </div>

        <div>
            <label for="alergias">Alergias</label>
            <input type="text" id="alergias" name="alergias" placeholder="Ingrese alergias">
        </div>

        <div>
            <label for="contacto_emergencia">Contacto de Emergencia</label>
            <input type="text" id="contacto_emergencia" name="contacto_emergencia" placeholder="Ingrese el contacto de emergencia">
        </div>

        <div>
            <label for="telefono_emergencia">Teléfono de Emergencia</label>
            <input type="text" id="telefono_emergencia" name="telefono_emergencia" placeholder="Ej: 912345678">
        </div>

        <div>
            <label for="actividad_fisica">Actividad Física</label>
            <select id="actividad_fisica" name="actividad_fisica">
                <option value="">Seleccionar Actividad Física</option>
                <option value="Sedentario">Sedentario</option>
                <option value="Moderado">Moderado</option>
                <option value="Activo">Activo</option>
            </select>
        </div>

        <div>
            <label for="peso">Peso (kg)</label>
            <input type="number" id="peso" name="peso" step="0.01" placeholder="Ingrese el peso">
        </div>

        <div>
            <label for="altura">Altura (cm)</label>
            <input type="number" id="altura" name="altura" step="0.01" placeholder="Ingrese la altura">
        </div>

        <div class="buttons">
            <button type="button" class="btn btn-cancelar" onclick="window.location.href='{% url 'recepcionista_pacientes_activos' %}'">Cancelar</button>
            <button type="submit" class="btn btn-continuar">
                Confirmar
            </button>
        </div>
        
    </form>
</div>

<script src="{% static 'js/guardar_datos.js' %}"></script>

{% endblock %}
