{% extends 'base_recepcionista.html' %}
{% load static %}

{% block content %}
<div class="recepcionista-container">
    <div class="header_right">
        <a href="{% url 'agregar_paciente' %}" class="agregar-paciente-btn">
            <span class="icono">+</span> Agregar Paciente
        </a>
    </div>  

    <form class="busqueda-form">
        <div class="busqueda-input">
            <input type="text" class="form-control" id="searchInput" placeholder="Búsqueda por Nombre o Rut" aria-label="Buscar Paciente">
        </div>
        <button class="filtro-btn" type="button">Filtrar</button>
    </form>

    <div class="filtros">
        <button class="btn active" type="button">Activos</button>
        <button class="btn" type="button">Inactivos</button>
    </div>

    <div class="table-responsive">
        <table class="table align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Estado</th>
                    <th>Terapeuta</th>
                    <th>Fecha de Ingreso</th>
                    <th class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in paciente %}
                <tr>
                    <td>{{ paciente.first_name }} {{ paciente.last_name }}</td>
                    <td>{{ paciente.rut }}</td>
                    <td><span class="estado-activo">Activo</span></td> <!-- Ajusta el estado si es necesario -->
                    <td>
                        {% if paciente.terapeuta %}
                            {{ paciente.terapeuta.user.first_name }} {{ paciente.terapeuta.user.last_name }}
                        {% else %}
                            Sin terapeuta
                        {% endif %}
                    </td>                    
                    <td>{{ paciente.date_joined }}</td>
                    <td class="text-end">
                        <a href="{% url 'mostrar_paciente' paciente.id %}" class="btn btn-outline-primary btn-sm me-2" title="Ver detalles">
                            <i class="bi bi-file-earmark-text"></i>
                        </a>                        
                        <a href="#" class="btn btn-outline-secondary btn-sm" title="Ver terapeuta">
                            <i class="bi bi-person"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="table-empty">No hay pacientes registrados.</td>
                </tr>
                {% endfor %}
                <tr id="no-coincidencias" style="display: none;">
                    <td colspan="6" class="table-empty">No se encontraron coincidencias.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/buscar_paciente.js' %}"></script>
{% endblock %}
