{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OrtesisWeb{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/recepcionista.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <div class="sidebar_terapeuta">
            <div class="logos">
                <img src="{% static 'icons/hospital.svg' %}" alt="Logo logo_hospital">
                <img src="{% static 'icons/ua.svg' %}" alt="Logo UA">
            </div>
            <hr class="divider">
            <div class="profile">
                <img src="{% static 'icons/therapist.svg' %}" alt="Icono terapeuta">
                <p>DR. VICENTE SALINAS</p>
            </div>
            <hr class="divider">
            <ul class="menu">
                <li>
                    <a href="{% url 'perfil' %}" class="{% if request.path == 'perfil/' %}active{% endif %}">
                        <img src="{% static 'icons/user-profile.svg' %}" alt="Perfil terapeuta">
                        Perfil
                    </a>
                </li>
                <li>
                    <a href="{% url 'paciente_terapeuta' %}" class="{% if request.path == 'paciente_terapeuta/' %}active{% endif %}">
                        <img src="{% static 'icons/list-users.svg' %}" alt="Listado de pacientes">
                        Pacientes
                    </a>
                </li>
                <li>
                    <a href="{% url 'agenda' %}" class="{% if request.path == 'agenda/' %}active{% endif %}">
                        <img src="{% static 'icons/calendar.svg' %}" alt="Agenda terapeuta">
                        Agenda
                    </a>
                </li>
            </ul>
            <hr class="divider">
            <div class="logout">
                <a href="{% url 'logout' %}">
                    <img src="{% static 'icons/log-out.svg' %}" alt="Cerrar sesión">
                    Salir
                </a>
            </div>
        </div>

        <div class="main-content">
            <header class="header">
                <div class="notification-icon">
                    <a href="#">
                        <img src="{% static 'icons/notification.svg' %}" alt="notificacion">
                    </a>
                </div>
            </header>

            <main class="content">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% block extra_js %}
    {% endblock %}
    <script>
        const menuLinks = document.querySelectorAll('.menu a');
      
        menuLinks.forEach(link => {
          link.addEventListener('click', (event) => {
            // Remover la clase 'active' de todos los enlaces
            menuLinks.forEach(link => link.classList.remove('active'));
      
            // Agregar la clase 'active' al enlace clicado
            event.target.classList.add('active');
          });
        });
        document.querySelector('.filtro-btn').addEventListener('click', function() {
            const dropdown = document.querySelector('.dropdown');
            dropdown.classList.toggle('active');
        });
      </script>
</body>

</html>