{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OrtesisWeb{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/administrador.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <div class="sidebar_administrador">
            <div class="logos">
                <img src="{% static 'images/logo_hospital_blanco.svg' %}" alt="Logo Hospital">
                <img src="{% static 'images/logo_universidad_blanco.svg' %}" alt="Logo Universidad">
            </div>
            <hr class="divider">
            <div class="profile">
                <img src="{% static 'icons/shield_person.svg' %}" alt="Icono admin">
                <p>ADMINISTRACIÓN</p>
            </div>
            <hr class="divider">
            <ul class="menu">
                <li>
                    <a href="{% url 'listar_pacientes_activos' %}" class="{% if request.path == '/pacientes/' %}active{% endif %}">
                        <span class="icon-text-wrapper">
                            <img src="{% static 'icons/patient_list.svg' %}" alt="Listado Pacientes">
                            Pacientes
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'gestion_terapeutas' %}" class="{% if request.path == '/terapeutas/' %}active{% endif %}">
                        <span class="icon-text-wrapper">
                            <img src="{% static 'icons/therapist.svg' %}" alt="Listado Terapeutas">
                            Terapeutas
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_recepcionistas' %}" class="{% if request.path == '/recepcionistas/' %}active{% endif %}">
                        <span class="icon-text-wrapper">
                            <img src="{% static 'icons/Vector.svg' %}" alt="Listado Recepcionistas">
                            Recepcionistas
                        </span>
                    </a>
                </li>
            </ul>
            <hr class="divider">
            <div class="logout">
                <a href="{% url 'login' %}" class="{% if request.path == '/login/' %}active{% endif %}">
                    <span class="icon-text-wrapper">
                        <img src="{% static 'icons/log-out.svg' %}" alt="Cerrar Sesión">
                        Salir
                    </span>
                </a>
            </div>
        </div>

        <div class="main-content">
            <header class="header">
                <div class="notification-icon">
                    <a href="#">
                        <img src="{% static 'icons/notification.svg' %}" alt="Notificación">
                    </a>
                </div>
            </header>

            <main class="content">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% block extra_js %}{% endblock %}
</body>

</html>
