{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendario</title>
    <link rel="stylesheet" href="{% static 'css/Calendario2.css' %}">
</head>
<body>
    <div class="contenedor-calendario">
        <div class="encabezado">
            <button id="prev-mes">&lt;</button>
            <button id="hoy">Hoy</button>
            <button id="next-mes">&gt;</button>
            <div class="mes-año">
                Agosto 2024
            </div>
            <div class="opciones-ver">
                <button>Día</button>
                <button>Sem</button>
                <button id="vista-mes" class="seleccionado">Mes</button>
            </div>
        </div>
        <table class="calendario">
            <thead>
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th class="fin-de-semana">Sábado</th>
                    <th class="fin-de-semana">Domingo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/Calendario2.js' %}"></script>
</body>
</html>