{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
</head>

<body>
    <div class="calendar-container">
        <div class="calendar-header">
            <button id="prev" class="nav-button">&#10094;</button>
            <button id="today" class="nav-button">Hoy</button>
            <button id="next" class="nav-button">&#10095;</button>
            <div class="month-header">
                <h2 id="month-year">Agosto 2024</h2>
            </div>
            <div class="view-options">
                <button id="week-view" class="nav-button">Sem</button>
                <button id="month-view" class="nav-button">Mes</button>
            </div>
        </div>
        <div id="calendar"></div>

            

    </div>

    <script src="{% static 'js/calendar.js' %}"></script>
</body>

</html>