{% extends 'base_terapeuta.html' %}

{% block title %}Pacientes{% endblock %}

{% block content %}
<div class="container">
    <header class="header">
        <h1>Pacientes</h1>
        <input type="text" placeholder="Búsqueda por Nombre, Rut o Tratamiento" class="search-bar">
    </header>
    <div class="header">
        <h2>Nombre</h2>
        <h2>Rut</h2>
        <h2>Edad</h2>
        <h2>Tratamiento</h2>
    </div>
    <div class="li-container">
        <ul>
            <!-- Lista de pacientes -->
        </ul>
    </div>
    <div class="empty">
        <p>No hay pacientes ingresados</p>
    </div>
</div>
<script src="paciente.js"></script>
{% endblock %}
