{% comment %} <form method="GET" action="{% url 'elegir_rol' %}">
    {% csrf_token %}
    <label>Seleccione su rol:</label>
    <select name="role">
        {% for role in roles %}
            <option value="{{ role.name }}">{{ role.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Ingresar</button>
</form>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar rol</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/elegir_rol.css' %}">
</head>
<body class="contenedor">

    <!-- Logos -->
    <img src="{% static 'images/logo_universidad_blanco.svg' %}" alt="Logo Universidad Autónoma" class="logo-top-left">
    <img src="{% static 'images/logo_hospital_blanco.svg' %}" alt="Logo Hospital" class="logo-top-right">

    <!-- Contenedor de login -->
    <div class="login-contenedor">
        <h2>Bienvenido/a</h2>

        <!-- Formulario de inicio de sesión -->
        <form method="GET" action="{% url 'elegir_rol' %}">
            {% csrf_token %}
            <h3>Ingresar como:</h3>
            <div class="inputs-contenedor">
                {% for role in roles %}
                    <button type="submit" name="role" value="{{ role.name }}" class="btn">{{ role.name }}</button>
                {% endfor %}
            </div>
        </form>

        <div class="iconos-inferiores">
            <img src="{% static 'icons/ortesis1.svg' %}" alt="Icono Ortesis">
            <img src="{% static 'icons/ortesis2.svg' %}" alt="Icono Ortesis">
            <img src="{% static 'icons/ortesis3.svg' %}" alt="Icono Ortesis" class="ortesis3">
        </div>
    </div>

</body>
</html>
