{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body class="contenedor">

    <!-- Logos -->
    <img src="{% static 'images/logo_universidad_blanco.svg' %}" alt="Logo Universidad Autónoma" class="logo-top-left">
    <img src="{% static 'images/logo_hospital_blanco.svg' %}" alt="Logo Hospital" class="logo-top-right">

    <!-- Contenedor de login -->
    <div class="login-contenedor">
        <h2>Bienvenido/a</h2>

        <!-- Formulario de inicio de sesión -->
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="inputs-contenedor">
                <!-- Input para el RUT -->
                <div class="input-login">
                    {{ form.rut.errors }}
                    <input type="text" name="rut" placeholder="Ingrese su RUT" required>
                    <img src="{% static 'icons/icono_usuario.svg' %}" alt="Usuario">
                </div>

                <!-- Input para la contraseña -->
                <div class="input-login">
                    {{ form.password.errors }}
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <img src="{% static 'icons/icono_password.svg' %}" alt="Contraseña">
                </div>

                <!-- Opciones adicionales -->
                <div class="acciones">
                    <label class="custom-checkbox-label">
                        <input type="checkbox" name="remember_me">
                        <span class="custom-checkbox"></span> Recuérdame
                    </label>
                    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                </div>

                <!-- Botón de inicio de sesión -->
                <button type="submit" class="btn">Iniciar sesión</button>
            </div>
        </form>
        
        <div class="iconos-inferiores">
            <img src="{% static 'icons/ortesis1.svg' %}" alt="Icono Ortesis">
            <img src="{% static 'icons/ortesis2.svg' %}" alt="Icono Ortesis">
            <img src="{% static 'icons/ortesis3.svg' %}" alt="Icono Ortesis" class="ortesis3">
        </div>
    </div>

</body>
</html>
