{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio de Sesión</title>
    <!--     Fuente JOST    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--     Estilos CSS    -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "styles/login.css" %}">
</head>
<body>

    <!-- Logos -->
    <img src="{% static 'images/logo_universidad_blanco.svg' %}" alt="Logo Universidad Autónoma" class="logo-top-left">
    <img src="{% static 'images/logo_hospital_blanco.svg' %}" alt="Logo Hospital" class="logo-top-right">

    <!-- Contenedor de login -->
    <div class="login-contenedor">
        <h2>Bienvenido/a</h2>
        <div class="inputs-contenedor">
            <div class="input-login">
                <input type="text" placeholder="Ingrese su RUT" required>
                <img src="{% static "icons/icono_usuario.svg" %}" alt="Usuario">
            </div>
    
            <div class="input-login">
                <input type="password" placeholder="Contraseña" required>
                <img src="{% static "icons/icono_password.svg" %}" alt="Contraseña">
            </div>
    
            <div class="acciones">
                <label class="custom-checkbox-label">
                    <input type="checkbox">
                    <span class="custom-checkbox"></span> Recuérdame
                </label>
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <button class="btn">Iniciar sesión</button>
        </div>
        <div class="iconos-inferiores">
            <img src="{% static "icons/ortesis1.svg" %} " alt="Icono Ortesis">
            <img src="{% static "icons/ortesis2.svg" %} " alt="Icono Ortesis">
            <img src="{% static "icons/ortesis3.svg" %} " alt="Icono Ortesis" class="ortesis3">
        </div>
    </div>

</body>
</html>
