{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <!-- Fuente JOST -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/password_reset.css' %}">
</head>
<body class="contenedor">

    <!-- Logos -->
    <img src="{% static 'images/logo_universidad_blanco.svg' %}" alt="Logo Universidad Autónoma" class="logo-top-left">
    <img src="{% static 'images/logo_hospital_blanco.svg' %}" alt="Logo Hospital" class="logo-top-right">

    <!-- Contenedor de confirmar contraseña -->
    <div class="password_reset-contenedor">
        <h2>Ingrese la nueva contraseña</h2>
        
        <!-- Input para la contraseña -->
        <div class="input-password_reset">
            {{ form.password.errors }}
            <h3>Contraseña nueva</h3>
            <input type="password" name="password" placeholder="Ingresar contraseña" required>
        </div>

        <div class="input-password_reset">
            {{ form.password.errors }}
            <h3>Confirmar contraseña</h3>
            <input type="password" name="confirm_password" placeholder="Verificar contraseña" required>
        </div>

        <a href="{% url 'password_reset_complete' %}">
            <button class="btn">Cambiar contraseña</button>
        </a>
    </div>

</body>
</html>
