{% extends 'base_terapeuta.html' %}

{% load static %}

{% block title %}Gestión de terapeutas{% endblock %}

{% block extra_head%}

<link rel="stylesheet" href="{% static 'styles/agregar_terapeuta.css' %}">

{% endblock %}

{% block content %}
    <div class="contenedor-formulario">
        <h1>Agregar terapeuta</h1>
        <form action="{% url 'agregar_terapeuta' %}" method="POST">
            {% csrf_token %}
            
            <h2> Datos del terapeuta </h2>
            {{ terapeuta_form.as_p }}

            <h2> Horarios del terapeuta </h2>
            {{ horario_formset.management_form }} <!-- Necesario para que Django pueda manejar el formset, contiene datos ocultos para gestionar el formset -->
            {% for form in horario_formset %}
                {{ form.as_p }}
            {% endfor %}

            <button type="submit">Agregar terapeuta</button>
        </form>
    </div>
{% endblock %}
