{% extends 'base_terapeuta.html' %}

{% load static %}

{% block title %}Gestión de terapeutas{% endblock %}

{% block extra_head%}

<link rel="stylesheet" href="{% static 'styles/agregar_terapeuta.css' %}">

{% endblock %}

{% block content %}
<div class="contenedor-formulario">
    <h1>Agregar terapeuta</h1>
    <form action="{% url 'agregar_terapeuta' %}" method="POST">
        {% csrf_token %}
        
        <h2> Datos del terapeuta </h2>
        {{ terapeuta_form.as_p }}

        <h2> Horarios del terapeuta </h2>
        {{ horario_formset.management_form }} <!-- Necesario para que Django pueda manejar el formset, contiene datos ocultos para gestionar el formset -->
        {% for form in horario_formset %}
            {{ form.as_p }}
        {% endfor %}

        <button type="submit">Agregar terapeuta</button>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var regionField = document.getElementById("id_region");
        var provinciaField = document.getElementById("id_provincia");
        var comunaField = document.getElementById("id_comuna");

        regionField.addEventListener("change", function() {
            var regionId = this.value;
            provinciaField.innerHTML = ""; // Limpiar opciones anteriores
            comunaField.innerHTML = ""; // Limpiar opciones anteriores

            if (regionId) {
                fetch(`/api/provincias/?region=${regionId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(provincia => {
                        var option = document.createElement("option");
                        option.value = provincia.id;
                        option.textContent = provincia.nombre;
                        provinciaField.appendChild(option);
                    });
                });
            }
        });
        provinciaField.addEventListener("change", function() {
            var provinciaId = this.value;
            comunaField.innerHTML = ""; // Limpiar opciones anteriores

            if (provinciaId) {
                fetch(`/api/comunas/?provincia=${provinciaId}`)
                .then(response => response.json())
                .then(data => {
                    // Actualizar opciones del campo de selección de comuna
                    data.forEach(comuna => {
                        var option = document.createElement("option");
                        option.value = comuna.id;
                        option.textContent = comuna.nombre;
                        comunaField.appendChild(option);
                    });
                });
            }
        });
    });
</script>
{% endblock %}
