{% extends 'base_terapeuta.html' %}

{% load static %}

{% block title %}Gestión de terapeutas{% endblock %}

{% block extra_head%}

<link rel="stylesheet" href="{% static 'styles/gestion_terapeutas.css' %}">

{% endblock %}

{% block content %}
    <div class="contenedor-boton">
        <button id="boton-agregar-terapeuta" >Agregar Terapeuta<img src="{% static 'icons/plus.svg' %}"></button>
    </div>
    <script>
        document.getElementById("boton-agregar-terapeuta").addEventListener("click", function(){
            window.location.href = "{% url 'agregar_terapeuta' %}";
        });
    </script>
{% endblock %}
