{% extends 'base_recepcionista.html' %}
{% load static %}

{% block content %}
<div class="recepcionista-container">  
    <div class="header">
        <h2>Asignar Terapeuta</h2>
        <form method="get" action="{% url 'recepcionista_terapeutas_activos' %}" class="busqueda-form">
            <div class="busqueda-input">
                <input type="text" name="q" placeholder="Búsqueda por Nombre o Rut" value="{{ request.GET.q }}">
            </div>
        </form>
    </div>

    <div class="header_right">
        <button type="button" class="filtro-btn">
            Filtrar <span class="flecha">▼</span>
        </button>
        <div class="dropdown-content">
            <label>
                <input type="checkbox" name="filtro" value="fecha_ingreso"> Fecha de Ingreso
            </label>
            <label>
                <input type="checkbox" name="filtro" value="especialidad"> Especialidad
            </label>
        </div>
    </div>

    <!-- Encabezado de la lista de terapeutas -->
    <div class="lista-terapeutas">
        <div class="header-lista">
            <span><strong>Nombre</strong></span>
            <span><strong>Rut</strong></span>
            <span><strong>Disponibilidad</strong></span>
            <span><strong>Especialidad</strong></span>
            <span><strong>Fecha de Ingreso</strong></span>
        </div>
        
        <!-- Lista de terapeutas -->
        {% for terapeuta in terapeuta %}
        <a href="{% url 'calendar_asignar_paciente_administrador' terapeuta.id paciente.id%}">
            <div class="terapeuta-card">
                <span>{{ terapeuta.user.first_name}} {{terapeuta.user.last_name }}</span>
                <span>{{ terapeuta.user.profile.rut }}</span>
                <span class="disponibilidad-disponible">{{ terapeuta.disponibilidad }}</span>
                <span>{{ terapeuta.especialidad }}</span>
                <span>{{ terapeuta.fecha_ingreso }}</span>
                <img src="{% static 'icons/terapeuta.svg' %}" alt="Icono terapeuta">
            </div>
        </a>
        {% empty %}
        <p>No se encontraron terapeutas activos.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
