body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.notification-icon {
    position: absolute;
    top: 10px;
    right: 20px;
}

.notification-icon img {
    width: 24px;
    height: 24px;
}

.notification-icon a {
    position: absolute;
    top: 15px;
    right: 20px;
    text-decoration: none;
    color: white;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.header_right {
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px;
    background-color: #ffffff;
}

/* Estilo del botón */
.agregar-paciente-btn {
    background-color: #373D58; /* Ajusta el color del botón */
    color: white;
    border: none;
    outline: none; /* Elimina cualquier contorno del botón */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Para alinear el ícono y el texto */
    gap: 10px; /* Espacio entre el ícono y el texto */
    transition: background-color 0.3s ease;
}

.agregar-paciente-btn:hover {
    background-color: #2b2b70; /* Efecto hover */
}


/* Estilo del ícono */
.icono {
    font-size: 20px;
    font-weight: bold;
}

