@import "sidebar.css";
@import "header.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Jost, sans-serif;
    min-height: 100%;
    margin: 0;
}

.contenedor-grid{
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidebar footer";
    grid-template-columns: 330px 1fr;
    grid-template-rows: 1.5fr auto 0.25fr;
}

.header{
    grid-area: header;
    background-color: #333;
}

.sidebar_terapeuta{
    grid-area: sidebar;
    background-color: #008cab;
}

main{
    grid-area: main;
    background-color: chocolate;
}

.footer{
    grid-area: footer;
    background-color: seagreen;
    color: white;
}