.sidebar_terapeuta{
    width: 330px;
    background-color: #008CAB; /* Cambiar el color según sea necesario */
    box-shadow: 2px 0 5px rgba(116, 116, 116, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0; /* Asegura que la sidebar esté en la parte superior */
    bottom: 0; /* Asegura que la sidebar se extienda hasta el fondo */
    z-index: 1;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.logo_hospital {
    width: 90px;
    height: 90px;
}

.logo_u{
    width: 170px;
    height: 110px;
}

.divider {
    border: none;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 10px 0;
    width: 90%;
}

/* Profile Section */
.profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile img {
    width: 30px;
    height: 30px;
    margin-right: 13px;
}

.profile p {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

/* Menu Styles */
.menu {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    width: 100%;
    margin-bottom: auto;
}

.menu li {
    width: 100%;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
}

.menu li a img {
    width: 40px;
    height: 40px;
    margin-right: 14px;
    transition: filter 0.3s ease;
}

/* Sidebar Styles - Hover and Active States */
.sidebar_terapeuta .menu li a:hover {
    background-color: #ffffff;
    color: #008CAB; /* Hover - Activo */
}

.sidebar_terapeuta .menu li a.active {
    background-color: #ffffff;
    color: #008CAB;
}

.sidebar_terapeuta .menu li a:hover img {
    filter: invert(53%) sepia(77%) saturate(317%) hue-rotate(140deg) brightness(100%) contrast(88%);
}

.sidebar_terapeuta .menu li a.active img {
    filter: invert(53%) sepia(77%) saturate(317%) hue-rotate(140deg) brightness(100%) contrast(88%);
}

.sidebar_administrador .menu li a:hover {
    background-color: #ffffff;
    color: #001058; /* Hover - Activo */
}

.sidebar_administrador .menu li a.active {
    background-color: #ffffff;
    color: #001058;
}

.sidebar_administrador .menu li a:hover img {
    filter: invert(12%) sepia(92%) saturate(5085%) hue-rotate(228deg) brightness(84%) contrast(117%); /* Icono en #001058 */
}

.sidebar_administrador .menu li a.active img {
    filter: invert(12%) sepia(92%) saturate(5085%) hue-rotate(228deg) brightness(84%) contrast(117%); /* Icono en #001058 */
}

.sidebar_recepcionista .menu li a:hover {
    background-color: #ffffff;
    color: #373D58; /* Hover - Activo */
}

.sidebar_recepcionista .menu li a.active {
    background-color: #ffffff;
    color: #373D58;
}

.sidebar_recepcionista .menu li a:hover img {
    filter: invert(14%) sepia(7%) saturate(3485%) hue-rotate(217deg) brightness(86%) contrast(88%); /* Icono en #373D58 */
}

.sidebar_recepcionista .menu li a.active img {
    filter: invert(14%) sepia(7%) saturate(3485%) hue-rotate(217deg) brightness(86%) contrast(88%); /* Icono en #373D58 */
}

.logout {
    width: 100%;
}

.logout a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout a img {
    width: 40px;
    height: 40px;
    margin-right: 14px;
}

.logout a:hover {
    background-color: #d9534f;
    color: white;
}

@media screen and (max-width: 1200px){
    .sidebar_terapeuta{
        width: 230px;
        background-color: #008CAB; /* Cambiar el color según sea necesario */
        box-shadow: 2px 0 5px rgba(116, 116, 116, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        position: fixed;
        top: 0; /* Asegura que la sidebar esté en la parte superior */
        bottom: 0; /* Asegura que la sidebar se extienda hasta el fondo */
        z-index: 1;
    }
    
    .logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 20px;
    }
    
    .logo_hospital {
        width: 63px;
        height: 63px;
    }
    
    .logo_u{
        width: 119px;
        height: 77px;
    }
    
    .divider {
        border: none;
        border-top: 1px solid rgb(255, 255, 255);
        margin: 10px 0;
        width: 90%;
    }
    
    /* Profile Section */
    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    
    .profile img {
        width: 30px;
        height: 30px;
        margin-right: 13px;
    }
    
    .profile p {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
    }
    
    /* Menu Styles */
    .menu {
        list-style: none;
        padding: 0;
        margin-top: 30px;
        width: 100%;
        margin-bottom: auto;
    }
    
    .menu li {
        width: 100%;
    }
    
    .menu li a {
        text-decoration: none;
        color: #ffffff;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        font-size: 24px;
        border-radius: 12px;
        transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
    }
    
    .menu li a img {
        width: 40px;
        height: 40px;
        margin-right: 14px;
        transition: filter 0.3s ease;
    }
    
    /* Sidebar Styles - Hover and Active States */
    .sidebar_terapeuta .menu li a:hover {
        background-color: #ffffff;
        color: #008CAB; /* Hover - Activo */
    }
    
    .sidebar_terapeuta .menu li a.active {
        background-color: #ffffff;
        color: #008CAB;
    }
    
    .sidebar_terapeuta .menu li a:hover img {
        filter: invert(53%) sepia(77%) saturate(317%) hue-rotate(140deg) brightness(100%) contrast(88%);
    }
    
    .sidebar_terapeuta .menu li a.active img {
        filter: invert(53%) sepia(77%) saturate(317%) hue-rotate(140deg) brightness(100%) contrast(88%);
    }
    
    .sidebar_administrador .menu li a:hover {
        background-color: #ffffff;
        color: #001058; /* Hover - Activo */
    }
    
    .sidebar_administrador .menu li a.active {
        background-color: #ffffff;
        color: #001058;
    }
    
    .sidebar_administrador .menu li a:hover img {
        filter: invert(12%) sepia(92%) saturate(5085%) hue-rotate(228deg) brightness(84%) contrast(117%); /* Icono en #001058 */
    }
    
    .sidebar_administrador .menu li a.active img {
        filter: invert(12%) sepia(92%) saturate(5085%) hue-rotate(228deg) brightness(84%) contrast(117%); /* Icono en #001058 */
    }
    
    .sidebar_recepcionista .menu li a:hover {
        background-color: #ffffff;
        color: #373D58; /* Hover - Activo */
    }
    
    .sidebar_recepcionista .menu li a.active {
        background-color: #ffffff;
        color: #373D58;
    }
    
    .sidebar_recepcionista .menu li a:hover img {
        filter: invert(14%) sepia(7%) saturate(3485%) hue-rotate(217deg) brightness(86%) contrast(88%); /* Icono en #373D58 */
    }
    
    .sidebar_recepcionista .menu li a.active img {
        filter: invert(14%) sepia(7%) saturate(3485%) hue-rotate(217deg) brightness(86%) contrast(88%); /* Icono en #373D58 */
    }
    
    .logout {
        width: 100%;
    }
    
    .logout a {
        text-decoration: none;
        color: #ffffff;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        font-size: 24px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .logout a img {
        width: 40px;
        height: 40px;
        margin-right: 14px;
    }
    
    .logout a:hover {
        background-color: #d9534f;
        color: white;
    }
}


@media screen and (max-width:768px){
    .sidebar_terapeuta {
        display: flex;
        width: 100%; /* La barra lateral ocupará todo el ancho de la pantalla */
        height: 150px; /* Reducir la altura para que parezca una barra horizontal */
        position: fixed;
        flex-direction: row; /* Cambiar la dirección de la barra para que los elementos se alineen horizontalmente */
        justify-content: space-around; /* Espaciado entre los elementos */
        padding: 0;
    }

    .divider {
        display: none; /* Ocultar la línea divisoria en pantallas pequeñas */
    }
    
    .logos {
        display: none; /* Ocultar los logos en pantallas pequeñas */
    }

    .profile {
        display: none; /* Ocultar el perfil en pantallas pequeñas */
    }

    .menu {
        display: flex;
        flex-flow: row nowrap; /* Los ítems del menú se colocan en una fila */
        justify-content: center;
        width: 100%; /* Asegurar que el menú ocupe todo el espacio disponible */
        align-items: center; /* Centrar los ítems del menú verticalmente */
        flex-grow: 1;
        margin: 0;
    }

    .menu li {
        width: auto; /* Ajustar los ítems del menú al contenido */
        height: auto;
        margin: 0 5px; /* Añadir un pequeño margen entre los ítems del menú */
    }

    .menu li a {
        padding: 10px; /* Reducir el espacio alrededor de los ítems del menú */
        font-size: 20px; /* Ajustar el tamaño de la fuente para que se vea mejor en pantallas pequeñas */
    }

    .menu li a img {
        width: 30px; /* Reducir el tamaño de los iconos */
        height: 30px;
        margin-right: 5px; 
    }

    .logout {
        display: flex;
        width: auto;
        border: none;
        border-left: 1px solid rgb(255, 255, 255);
        padding-left: 25px;
        margin-right: 25px;
        height: 80%;
        align-items: center;
    }

    .logout a {
        padding: 10px; /* Reducir el espacio alrededor de los ítems del menú */
        font-size: 20px; /* Ajustar el tamaño de la fuente para que se vea mejor en pantallas pequeñas */
        margin-top: 10px;
        flex-flow: row nowrap;
    }

    .logout a img{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
}


@media screen and (max-width: 600px){
    
    .sidebar_terapeuta {
        display: flex;
        width: 100%; /* La barra lateral ocupará todo el ancho de la pantalla */
        height: 150px; /* Reducir la altura para que parezca una barra horizontal */
        position: fixed;
        flex-direction: row; /* Cambiar la dirección de la barra para que los elementos se alineen horizontalmente */
        justify-content: space-around; /* Espaciado entre los elementos */
        padding: 0;
    }

    .divider {
        display: none; /* Ocultar la línea divisoria en pantallas pequeñas */
    }
    
    .logos {
        display: none; /* Ocultar los logos en pantallas pequeñas */
    }

    .profile {
        display: none; /* Ocultar el perfil en pantallas pequeñas */
    }

    .menu {
        display: flex;
        flex-flow: row wrap; /* Los ítems del menú se colocan en una fila */
        justify-content: center;
        width: 100%; /* Asegurar que el menú ocupe todo el espacio disponible */
        align-items: center; /* Centrar los ítems del menú verticalmente */
        flex-grow: 1;
        margin: 0;
    }

    .menu li {
        width: auto; /* Ajustar los ítems del menú al contenido */
        height: auto;
        margin: 0 5px; /* Añadir un pequeño margen entre los ítems del menú */
    }

    .menu li a {
        padding: 10px; /* Reducir el espacio alrededor de los ítems del menú */
        font-size: 20px; /* Ajustar el tamaño de la fuente para que se vea mejor en pantallas pequeñas */
    }

    .menu li a img {
        width: 30px; /* Reducir el tamaño de los iconos */
        height: 30px;
        margin-right: 5px; 
    }

    .logout {
        display: flex;
        width: auto;
        border: none;
        border-left: 1px solid rgb(255, 255, 255);
        padding-left: 25px;
        margin-right: 25px;
        height: 80%;
        align-items: center;
    }

    .logout a {
        padding: 10px; /* Reducir el espacio alrededor de los ítems del menú */
        font-size: 20px; /* Ajustar el tamaño de la fuente para que se vea mejor en pantallas pequeñas */
        margin-top: 10px;
        flex-flow: row wrap;
    }

    .logout a img{
        width: 30px;
        height: 30px;
        margin: 0;
    }
}
